@model IEnumerable<DMCombatScreen.Models.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Characters</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create New Character", "Create", null, new { @class = "btn btn-danger btn-lg create-btn" })
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="form-group-sm form-inline row">
        <div class="col-md-7">
            <p>
                Search By Character Name: @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control input-sm" })
                <input type="submit" value="Search" class="btn btn-danger form-control" />
            </p>
        </div>
        <div class="col-md-5">
            <p>
                Filter By Character Type: @Html.DropDownList("CharType", null, "All", new { @class = "form-control input-sm" })
                <input type="submit" value="Filter" class="btn btn-danger form-control" />
            </p>
        </div>
    </div>
}



<hr class="blackline" />

<div class="panel">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.ActionLink("Character Name", "Index", new { sortOrder = ViewBag.NameSortParam })
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </th>
                <th>
                    @Html.ActionLink("Character Type", "Index", new { sortOrder = ViewBag.TypeSortParam })
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </th>
                <th>
                    @Html.ActionLink("Is Player", "Index", new { sortOrder = ViewBag.PlayerSortParam })
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CharacterType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPlayer)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }, new { @class = "table-links" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CharacterID }, new { @class = "table-links" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID }, new { @class = "table-links" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
