@model IEnumerable<DMCombatScreen.Models.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Characters</h2>

<p>
    @Html.ActionLink("Create New Character", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

@using (Html.BeginForm())
{
    <p>
        Search By Character Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CharacterID)
        </th>*@
        <th>
            @Html.ActionLink("Character Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterType)
        </th>
        <th>
            @Html.ActionLink("Is Player", "Index", new { sortOrder = ViewBag.PlayerSortParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.CharacterID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPlayer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CharacterID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
        </td>
    </tr>
}

</table>
