@model DMCombatScreen.Models.AttendanceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Encounter Details</h2>

<div>
    <h3 class="pagetitle">@Model.CombatName</h3>
    <hr class="redline"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
@if (Model.CurrentHP != null)
{
        <dt>
            @Html.DisplayNameFor(model => model.CurrentHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentHP)
        </dd>
}
        <dt>
            @Html.DisplayNameFor(model => model.CombatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CombatID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CombatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CombatName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "table-links" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "table-links" })
</p>
