@model IEnumerable<DMCombatScreen.Models.RunCombatDetail>

@{
    ViewBag.Title = "Detail";
}

<h2>Details of this Combat</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CombatID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentHP)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CombatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        @if (!item.IsPlayer)
        {
            <td>
                @Html.DisplayFor(modelItem => item.CurrentHP)
            </td>
        }
        else
        {
            <td></td>
        }
    </tr>
}

</table>

@Html.ActionLink("Return To Combat List", "Index") |
@Html.ActionLink("Run Combat", "RollInitiative", new { id = Model.First().CombatID })
