@model IEnumerable<DMCombatScreen.Models.RunCombatDetail>

@{
    ViewBag.Title = "Detail";
}

<h2>Details of <span class="pagetitle">@Model.First().CombatName</span></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CombatID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentHP)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CombatID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        @if (!item.IsPlayer)
        {
            <td>
                @Html.DisplayFor(modelItem => item.CurrentHP)
            </td>
        }
        else
        {
            <td></td>
        }
    </tr>
}

</table>

@Html.ActionLink("Return To Combat List", "Index", null, new { @class = "table-links" }) |
@Html.ActionLink("Edit Participants", "Index", "Attendance", new { searchString = Model.First().CombatName}, new { @class = "table-links" }) |
@Html.ActionLink("Run Combat", "RollInitiative", new { id = Model.First().CombatID }, new { @class = "table-links" })
