@model DMCombatScreen.Models.RunCombatEditCondition

@{
    ViewBag.Title = "EditCondition";
}

<h2>Edit Conditions for <span class="pagetitle">@Model.CharacterName</span></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CombatID)
        @Html.HiddenFor(model => model.CurrentTurn)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>

                    @{
                        List<DMCombatScreen.Models.RunCombatAssignedCondition> conditions = ViewBag.Conditions;

                        foreach (var condition in conditions)
                        {
                            <tr>
                                <td class="conditions-table">
                                    <input type="checkbox"
                                           name="selectedConditions"
                                           value="@condition.ConditionID"
                                           @(Html.Raw(condition.IsAssigned ? "checked=\"checked\"" : "")) />
                                    @condition.ConditionName
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "RunCombat", new { id = Model.CombatID, SelectedCharacter = Model.CurrentTurn - 1 }, new { @class = "table-links" })
</div>
