@model IEnumerable<DMCombatScreen.Models.RunCombatListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Run Combat!</h2>

<p>
    @Html.ActionLink("Create New Combat", "Create", "Combat", new { @class = "btn btn-danger btn-lg" })
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<hr class="blackline" />

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CombatName)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CombatName)
                </td>
                <td>
                    @Html.ActionLink("Roll Initiative", "RollInitiative", new { id = item.CombatID }, new { @class = "table-links" }) |
                    @Html.ActionLink("See Combatants", "Detail", new { id = item.CombatID }, new { @class = "table-links" }) |
                    @Html.ActionLink("Delete", "Delete", "Combat", new { id = item.CombatID }, new { @class = "table-links" })
                </td>
                <td>
                    @Html.ActionLink("Run Combat", "RunCombat", new { id = item.CombatID }, new { @class = "btn btn-danger combat-btn" })
                </td>
            </tr>
        }

    </table>
</div>
