@model List<DMCombatScreen.Models.RunCombatInitiative>

@{
    ViewBag.Title = "RollInitiative";
}

<h2>Roll Initiative</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model[0].CombatID)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].CharacterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].InitiativeEntry)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[0].CurrentHP)
            </th>
        </tr>

        @for (int i = 0; i < Model.Count(); i++ )
        {
            @Html.HiddenFor(model => model[i].ID)
            @Html.HiddenFor(model => model[i].CharacterID)
            @Html.HiddenFor(model => model[i].CharacterName)
            @Html.HiddenFor(model => model[i].CombatID)
            @Html.HiddenFor(model => model[i].CombatName)
            @Html.HiddenFor(model => model[i].IsPlayer)
            @Html.HiddenFor(model => model[i].InitiativeAbilityScore)
            @Html.HiddenFor(model => model[i].InitiativeModifier)
            <tr>
                <td>
                    @Html.DisplayFor(model => model[i].CombatID)
                </td>
                <td>
                    @Html.DisplayFor(model => model[i].CharacterName)
                </td>
                @if (Model[i].IsPlayer)
                {
                    <td>
                        @Html.EditorFor(model => model[i].InitiativeEntry)
                        @Html.ValidationMessageFor(model => model[i].InitiativeEntry, "", new { @class = "text-danger" })
                    </td>
                }
                else
                {
                    <td></td>
                }
                @if (!Model[i].IsPlayer)
                {
                    <td>
                        @Html.EditorFor(model => model[i].CurrentHP)
                        @Html.ValidationMessageFor(model => model[i].CurrentHP, "", new { @class = "text-danger" })
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}
