@model IEnumerable<DMCombatScreen.Models.RunCombatCharacter>

@{
    ViewBag.Title = "RunCombat";
}

<h2>Run Combat</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInitiative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxHP)
        </th>
        <th></th>
        <th>
    </tr>

    @foreach (var item in Model)
    {

        string selectedRow = "";
        if (item.TurnOrderNumber == ViewBag.SelectedCharacter)
        {
            selectedRow = "success";
        }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInitiative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentHP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHP)
            </td>

                @if (!item.IsPlayer)
                {
                    <td>
                        @Html.ActionLink("Attack", "Attack", new { id = item.ID, currentTurn = ViewBag.SelectedCharacter })
                    </td>
                }
                else
                {
                    <td></td>
                }
            <td>
                @if (item.TurnOrderNumber == ViewBag.SelectedCharacter)
                {
                    @Html.ActionLink("End Turn", "RunCombat", new { SelectedCharacter = item.TurnOrderNumber } )
                }
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back to Combat List", "Index")
