@model IEnumerable<DMCombatScreen.Models.RunCombatCharacter>

@{
    ViewBag.Title = "RunCombat";
}

<h2>RunCombat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInitiative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxHP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInitiative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxHP)
        </td>
        <td>
            @Html.ActionLink("Attack", "Attack", new { id = item.ID})
        </td>
    </tr>
}

</table>
